# Optional remote-Proxmox scrape job.
# The default docker auto-discovery labels can scrape /pve, but a remote PVE
# endpoint needs __param_target relabeling that labels cannot express today.
scrape_configs:
  - job_name: pve
    metrics_path: /pve
    params:
      module:
        - default
    static_configs:
      - targets:
          - <PROXMOX_HOST_OR_IP>
    relabel_configs:
      - source_labels:
          - __address__
        target_label: __param_target
      - source_labels:
          - __param_target
        target_label: instance
      - target_label: __address__
        replacement: proxmox-exporter:9221
